<div class="row">
  <div class="main-body">
    <table class="table table-responsive table-bordered table-hover">
      <thead>
        <th>UserName</th>
        <th>Active Role</th>
        <th>#</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersWithRoles">
          <td>{{ user.username }}</td>
          <td>{{ user.roles }}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="onEditModal(user)">Edit Role</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
